.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(73, 62, 62, 0.1);
  flex-wrap: wrap; 
}

.logo-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_1,
.logo_2 {
  height: 75px;
  max-width: 100%;
  object-fit: contain;
}
.logo_1{
    padding-right: 100px;
}
.logo_2 {
  padding-left: 150px;
}


.header-title {
  font-family: "Nunito Sans", sans-serif;
  flex: 2;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}


@media (max-width: 768px) {
  .custom-header {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
  }

  .logo-section {
    margin: 5px 0;
    justify-content: center;
  }

  .header-title {
    font-size: 20px;
    margin: 10px 0;
    flex: none;
  }
  .logo_1{
    padding-left:90px;
  }
  .logo_2 {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 18px;
  }

  .logo_1,
  .logo_2 {
    height: 40px;
  }
}
